.header {
    display: flex;
    flex-direction: row;
    align-items: center; //!
    justify-content: space-between;
    min-height: 70px;
    padding: 20px 15px;
    background: #151d24;

    @media (min-width: 960px) {
        display: none;
    }

    .login-block {
        display: block;

        @media (min-width: 960px) {
            display: none;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .main-menu {
      
            &__nav {
                @media (max-width: 959px) {
                    display: none;
                }
            }

            &__burger {
                @media (max-width: 959px) {
                    display: block;
                }
            }
        }
    }
}
