.cards {
    @media (min-width: 960px) {
        margin-bottom: 40px;
    }

    &__item {
        width: 100%;
        min-width: 290px;
        min-height: 207px;
        border: 2px solid #293843;
        padding: 14px 20px;
        margin-bottom: 10px;
        background: #26313a;
        border-radius: 8px;

        @media (min-width: 960px) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            min-height: 75px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        display: inline-block;
        vertical-align: text-top;
        margin-right: 10px;
    }

    &__numbers {
        display: inline-block;
        vertical-align: text-top;

        font-weight: $font-bold;
        font-size: 14px;
        line-height: 17px;
        color: $light-grey;
    }

    &__wrap {
        display: inline-block;
        vertical-align: text-top;
        margin-bottom: 10px;

        @media (min-width: 960px) {
            align-items: center;
            margin-right: 1%;
        }

        @media (min-width: 1152px) {
            margin-right: 3%;
        }
    }

    &__add-wrap {
        display: inline-block;
    }

    &__amount {
        margin-bottom: 10px;

        @media (min-width: 960px) {
            display: flex;
            flex-direction: column;
            margin-right: 1%;
        }

        @media (min-width: 1152px) {
            margin-right: 3%;
        }
    }

    &__date {
        display: inline-block;
        vertical-align: text-top;
        margin-left: 100px;
        font-size: 12px;
        line-height: 14px;

        color: $grey;

        @media (min-width: 960px) {
            display: block;
            margin-left: 34px;
        }
    }

    &__title {
        display: inline-block;
        margin-right: 4.1%;
        min-width: 89px;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        color: $grey;

        @media (min-width: 960px) {
            margin-bottom: 11px;
            text-align: left;
        }
    }

    &__value {
        font-weight: $font-bold;
        font-size: 14px;
        line-height: 17px;
        color: $light-grey;

        &--green {
            color: $green;
        }
    }

    &__status {
        min-width: 69px;
        text-align: right;
        font-weight: $font-bold;
        font-size: 14px;
        line-height: 17px;
        color: $grey;

        @media (min-width: 960px) {
            text-align: left;
        }

        &--completed {
            color: $light-grey;
        }

        &--error {
            color: #fe6b6b;
        }

        &--active {
            color: $green;
        }
    }
}
