.filters {
    margin-bottom: 20px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
    }

    &__item {
        margin-right: 10px;
        margin-bottom: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__button {
        min-width: 85px;
        min-height: 34px;
        border: 0;
        padding: 8px 5px 9px;
        font-size: 14px;
        line-height: 17px;
        font-weight: $font-bold;
        color: $green;
        background-color: rgba(29, 39, 46, 0.3);
        border-radius: 5px;
        outline: none;

        &--active {
            background-color: #1d272e;
        }

        &:hover, &:focus {
            background-color: rgba(64, 126, 170, 0.15);
        }
    }
}
