.button {
    display: none;
    min-width: 200px;
    min-height: 40px;
    border: 0;
    padding: 10px 60px;
    font-weight: $font-bold;
    font-size: 15px;
    line-height: 21px;
    color: $white;
    background: linear-gradient(90deg, #12c49c 0%, #0db475 100%);
    border-radius: 5px;
    outline: none;

    &:hover, &:focus {
        background: linear-gradient(90deg, #0c9275 0%, #0bb473 100%);
    }

    @media (min-width: 960px) {
        display: block;
    }
}
