html {
  box-sizing: border-box;
  font-family: $font-base;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

.body {
  background: #1d272e;
}

.main-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 6px;
  max-width: 1283px;
  height: 100%;
  background: #293843;

  @media screen and (min-width: 960px) {
    padding: 0 23px;
    width: 1084px;
    margin: 0;
  }
}

.main {
  @media (min-width: 960px) {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: $font-regular;

    color: $light-grey;

    @media (min-width: 960px) {
      padding-top: 48px;
    }
  }
}
